In [2]:
import pandas as pd

In [5]:
data_AAPL = pd.read_csv('AAPL.csv')

In [6]:
data_AAPL

            Date     Price    Change
0     1999-11-16   89.9918       NaN
1     1999-11-17   90.6880  0.007736
2     1999-11-18   91.0630  0.004135
3     1999-11-19   89.5000 -0.017164
4     1999-11-22   91.7515  0.025156
...          ...       ...       ...
5028  2019-11-11  258.3000 -0.001508
5029  2019-11-12  261.5500  0.012582
5030  2019-11-13  261.1300 -0.001606
5031  2019-11-14  263.7500  0.010033
5032  2019-11-15  263.6800 -0.000265

[5033 rows x 3 columns]