In [1]:
import pandas as pd

In [23]:
data_VIX = pd.read_csv('VIX.csv', parse_dates=['Date'])
data_Obama = pd.read_csv('BarackObama.csv', parse_dates=['Date'])

In [24]:
data_VIX

           Date  Price    Change
0    2000-01-03  24.36       NaN
1    2000-01-04  24.94  0.023810
2    2000-01-05  27.98  0.121893
3    2000-01-06  26.68 -0.046462
4    2000-01-07  25.14 -0.057721
...         ...    ...       ...
4997 2019-11-12  12.64 -0.038783
4998 2019-11-13  12.91  0.021361
4999 2019-11-14  13.16  0.019365
5000 2019-11-15  12.95 -0.015957
5001 2019-11-18  12.95  0.000000

[5002 rows x 3 columns]

In [25]:
data_Obama

,Date,author,content,number_of_likes,number_of_shares
0,2014-01-08 14:57:00,BarackObama,Make #53 special for #44: http://t.co/leGTnedv...,1512,726
1,2014-01-08 17:58:00,BarackObama,"Job growth has exceeded 200,000 for the sixth ...",816,556
2,2014-01-08 18:46:00,BarackObama,Happening now: President Obama delivers a stat...,491,288
3,2014-01-08 18:54:00,BarackObama,"""That's the longest streak of private sector j...",804,619
4,2014-01-08 18:57:00,BarackObama,"""The fact is we could be much further along .....",1505,1260
...,...,...,...,...,...
2858,2016-12-10 16:35:00,BarackObama,Let's leave our children and grandchildren a p...,12072,3692
2859,2016-12-10 17:57:00,BarackObama,"Last week, more than 190 countries reached a l...",3283,855
2860,2016-12-10 19:43:00,BarackObama,Support the bold steps we're taking against cl...,1979,496
2861,2016-12-10 21:02:00,BarackObama,LIVE: President Obama is speaking at a recepti...,1931,468
2862,2017-10-01 23:44:00,BarackObama,"Tonight, President Obama reflects on eight yea...",38884,9568

In [26]:
first_date = pd.to_datetime('1/1/2015')
last_date = pd.to_datetime('1/1/2017')

In [31]:
data_Obama = data_Obama[data_Obama['Date']<last_date]
data_Obama = data_Obama[data_Obama['Date']>first_date]
data_VIX = data_VIX[data_VIX['Date']<last_date]
data_VIX = data_VIX[data_VIX['Date']>first_date]

In [33]:
data_VIX

           Date  Price    Change
3773 2015-01-02  17.76  0.116279
3774 2015-01-05  19.19  0.080518
3775 2015-01-06  20.33  0.059406
3776 2015-01-07  20.15 -0.008854
3777 2015-01-08  17.93 -0.110174
...         ...    ...       ...
4272 2016-12-23  11.38  0.005300
4273 2016-12-27  12.26  0.077329
4274 2016-12-28  11.89 -0.030179
4275 2016-12-29  13.15  0.105971
4276 2016-12-30  13.20  0.003802

[504 rows x 3 columns]