In [9]:
from linearmodels import PanelOLS
import pandas as pd

In [10]:
feature_dir = 'data/features/'

In [11]:
df_twitter = pd.read_csv(feature_dir+'twitter_features.csv')
df_news = pd.read_csv(feature_dir+'news_features.csv')
df_out= pd.read_csv(feature_dir+'stock_features.csv')

In [13]:
df = pd.merge(df_out, df_twitter, how='left', on='Date')
df = pd.merge(df, df_news, how='left', on='Date')

In [14]:
df

,Date,Change VIX,Lag 2 Change VIX,Lag 2 Significant VIX,Change SPY,Lag 2 Change SPY,Lag 2 Significant SPY,BarackObama_sentiment_score,BarackObama_heuristic_score,cnnbrk_sentiment_score,cnnbrk_heuristic_score,KimKardashian_sentiment_score,KimKardashian_heuristic_score,New York Times_sentiment_score,CNN_sentiment_score,Washington Post_sentiment_score
0,2015-01-02,0.116279,0.144707,1,-0.007741,-0.020787,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.2102,NaN
1,2015-01-05,0.080518,0.050026,1,-0.010708,-0.013469,-1,1.2205,9.206268,NaN,NaN,NaN,NaN,NaN,-1.4093,NaN
2,2015-01-06,0.059406,-0.118052,-1,-0.010188,0.009501,0,0.6436,7.880455,NaN,NaN,4.0653,37.652221,NaN,1.0081,NaN
3,2015-01-07,-0.008854,-0.184119,-1,-0.003315,0.024724,1,5.6336,40.112804,NaN,NaN,0.9154,8.877281,NaN,-0.9171,NaN
4,2015-01-08,-0.110174,0.005020,0,0.012859,0.001961,0,1.1121,9.476567,NaN,NaN,1.7150,16.294419,NaN,-2.5206,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2016-12-23,0.005300,0.044815,1,-0.000754,0.005057,0,NaN,NaN,-3.5000,-22.894771,NaN,NaN,0.3667,-3.5821,-2.9205
500,2016-12-27,0.077329,0.072594,1,0.002617,-0.006814,0,NaN,NaN,-1.1141,-7.601923,NaN,NaN,-0.9913,-3.0340,-0.1172
501,2016-12-28,-0.030179,0.110177,1,0.002433,-0.008121,0,NaN,NaN,-1.7633,-11.564171,NaN,NaN,2.9580,-1.1407,-1.7274
502,2016-12-29,0.105971,0.069962,1,-0.009225,0.002495,0,NaN,NaN,-0.2428,-1.812420,NaN,NaN,0.9901,-0.4297,-0.2822
503,2016-12-30,0.003802,-0.031818,-1,0.001114,0.003960,0,NaN,NaN,-1.9998,-12.274164,NaN,NaN,0.1050,-4.0117,0.6944

In [43]:
data = df.set_index(['Date'])
data = df.reset_index().set_index(['Change VIX','Date'])
data = df.reset_index().set_index(['Date'])

In [44]:
data

,index,Change VIX,Lag 2 Change VIX,Lag 2 Significant VIX,Change SPY,Lag 2 Change SPY,Lag 2 Significant SPY,BarackObama_sentiment_score,BarackObama_heuristic_score,cnnbrk_sentiment_score,cnnbrk_heuristic_score,KimKardashian_sentiment_score,KimKardashian_heuristic_score,New York Times_sentiment_score,CNN_sentiment_score,Washington Post_sentiment_score
Date,,,,,,,,,,,,,,,,
2015-01-02,0,0.116279,0.144707,1,-0.007741,-0.020787,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.2102,NaN
2015-01-05,1,0.080518,0.050026,1,-0.010708,-0.013469,-1,1.2205,9.206268,NaN,NaN,NaN,NaN,NaN,-1.4093,NaN
2015-01-06,2,0.059406,-0.118052,-1,-0.010188,0.009501,0,0.6436,7.880455,NaN,NaN,4.0653,37.652221,NaN,1.0081,NaN
2015-01-07,3,-0.008854,-0.184119,-1,-0.003315,0.024724,1,5.6336,40.112804,NaN,NaN,0.9154,8.877281,NaN,-0.9171,NaN
2015-01-08,4,-0.110174,0.005020,0,0.012859,0.001961,0,1.1121,9.476567,NaN,NaN,1.7150,16.294419,NaN,-2.5206,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-23,499,0.005300,0.044815,1,-0.000754,0.005057,0,NaN,NaN,-3.5000,-22.894771,NaN,NaN,0.3667,-3.5821,-2.9205
2016-12-27,500,0.077329,0.072594,1,0.002617,-0.006814,0,NaN,NaN,-1.1141,-7.601923,NaN,NaN,-0.9913,-3.0340,-0.1172
2016-12-28,501,-0.030179,0.110177,1,0.002433,-0.008121,0,NaN,NaN,-1.7633,-11.564171,NaN,NaN,2.9580,-1.1407,-1.7274
2016-12-29,502,0.105971,0.069962,1,-0.009225,0.002495,0,NaN,NaN,-0.2428,-1.812420,NaN,NaN,0.9901,-0.4297,-0.2822
2016-12-30,503,0.003802,-0.031818,-1,0.001114,0.003960,0,NaN,NaN,-1.9998,-12.274164,NaN,NaN,0.1050,-4.0117,0.6944

In [45]:
data_exog = data[['New York Times_sentiment_score','CNN_sentiment_score', 'Washington Post_sentiment_score']]

In [46]:
data_exog

,New York Times_sentiment_score,CNN_sentiment_score,Washington Post_sentiment_score
Date,,,
2015-01-02,NaN,-4.2102,NaN
2015-01-05,NaN,-1.4093,NaN
2015-01-06,NaN,1.0081,NaN
2015-01-07,NaN,-0.9171,NaN
2015-01-08,NaN,-2.5206,NaN
...,...,...,...
2016-12-23,0.3667,-3.5821,-2.9205
2016-12-27,-0.9913,-3.0340,-0.1172
2016-12-28,2.9580,-1.1407,-1.7274
2016-12-29,0.9901,-0.4297,-0.2822
2016-12-30,0.1050,-4.0117,0.6944

In [47]:
data_dependent = data['Change VIX']

In [48]:
data_dependent

Date
2015-01-02    0.116279
2015-01-05    0.080518
2015-01-06    0.059406
2015-01-07   -0.008854
2015-01-08   -0.110174
                ...
2016-12-23    0.005300
2016-12-27    0.077329
2016-12-28   -0.030179
2016-12-29    0.105971
2016-12-30    0.003802
Name: Change VIX, Length: 504, dtype: float64

In [50]:
model = PanelOLS(data['Change VIX'],data_exog,entity_effects=True, time_effects=True)

ValueError: Series can only be used with a 2-level MultiIndex

In [ ]:
mod = PanelOLS(data.invest, data[['value','capital']], entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)