In [20]:
import pandas as pd
import glob
import math

In [2]:
data_dir = 'data/nyt/'
output_dir = 'data/in/news/'

In [3]:
all_files = glob.glob(data_dir + "/*.csv")

In [4]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [5]:
df = frame[['pub_date','headline']]

In [6]:
df

,pub_date,headline
0,2016-10-01T04:00:00+0000,Donald Trump’s Letter
1,2016-10-01T21:12:35+0000,A Rabbi’s Enduring Sermon on Living Your Last ...
2,2016-10-01T04:00:00+0000,Nina Ricci: Spring 2017
3,2016-10-01T04:00:00+0000,How to Get Nina Ricci’s Sultry Slicked-Back Hair
4,2016-10-01T19:53:16+0000,"For Orchestras in the U.S., So Much Depends on..."
...,...,...
386336,2019-04-29T15:00:06+0000,How to Fight India’s Fake-News Epidemic
386337,2019-04-30T09:00:08+0000,"Oliver Sacks’s Final, Posthumous Work"
386338,2019-05-01T00:15:33+0000,It’s Infrastructure Week!
386339,2019-04-30T23:28:13+0000,Venezuelan Opposition Leader Steps Up Pressure...
386340,2019-04-30T09:00:11+0000,How Does Your Love of Wine Contribute to Clima...

In [7]:
df = df.rename(columns={'pub_date':'Date', 'headline':'title'})

In [8]:
df['Date'] = pd.to_datetime(df['Date']).dt.normalize()

In [9]:
df = df.sort_values(by='Date')

In [10]:
df.to_csv(output_dir+'NYT_ALL.csv', index=False)

In [22]:
df[df['title'] != df['title']]

                            Date title
27663  2017-10-10 00:00:00+00:00   NaN
248475 2019-02-07 00:00:00+00:00   NaN
248800 2019-02-07 00:00:00+00:00   NaN
247958 2019-02-07 00:00:00+00:00   NaN
247868 2019-02-07 00:00:00+00:00   NaN
...                          ...   ...
232561 2019-08-29 00:00:00+00:00   NaN
232555 2019-08-29 00:00:00+00:00   NaN
232562 2019-08-29 00:00:00+00:00   NaN
232243 2019-08-29 00:00:00+00:00   NaN
232028 2019-08-29 00:00:00+00:00   NaN

[335 rows x 2 columns]