In [106]:
import requests
import json
import pandas as pd
import os.path

In [96]:
save_loc = 'data/nyt/'

In [78]:
secret = 'fj7cxOf9U7ok1Oui9i4lou2rmUWfGw4r'

In [79]:
base_url = 'https://api.nytimes.com/svc/archive/v1/'

url = 'https://api.nytimes.com/svc/archive/v1/2019/1.json?api-key='+secret

In [90]:
years = [2015,2016,2017,2018,2019]

In [91]:
last_month_of_2019 = 9

In [101]:
def process(month, year):
    url = base_url + str(year)+'/'+str(month)+'.json?api-key='+secret
    response = requests.get(url)
    jsonResponse = json.loads(response.content.decode('utf-8'))
    df = pd.DataFrame(jsonResponse['response']['docs']) 
    df['headline'] = df['headline'].apply(lambda x: x['main'])
    df = df[['pub_date','headline']]
    df.to_csv(save_loc+'nyt_'+str(month)+'_'+str(year)+'.csv')
    print('Saved: '+str(month)+'/'+str(year))

In [113]:
for year in years:
    if year==2019:
        for month in range(1,last_month_of_2019):
            try:
                file = save_loc+'nyt_'+str(month)+'_'+str(year)+'.csv'
                if os.path.isfile(file):
                    print('File already written')
                else:
                    process(month, year)
            except:
                print('Failed on',month,year)
    else:
        for month in range(1,13):
            try:
                file = save_loc+'nyt_'+str(month)+'_'+str(year)+'.csv'
                if os.path.isfile(file):
                    print('File already written')
                else:
                    process(month, year)
            except:
                print('Failed on',month,year)

File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
Saved: 6/2018
Saved: 7/2018
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
File already written
Saved: 6/2019
Saved: 7/2019
Saved: 8/2019

In [51]:
response = requests.get(url)

In [61]:
jsonResponse = json.loads(response.content.decode('utf-8'))

In [64]:
jsonResponse.keys()

dict_keys(['copyright', 'response'])

In [65]:
df = pd.DataFrame(jsonResponse['response']['docs'])

In [67]:
df['headline'] = df['headline'].apply(lambda x: x['main'])
df = df[['pub_date','headline']]

In [59]:
data = json.load(response.content)

AttributeError: 'bytes' object has no attribute 'read'

In [55]:
data = json.load(response)

AttributeError: 'Response' object has no attribute 'read'

In [24]:
response = pd.read_json('nytdata.json')

,copyright,response
docs,Copyright (c) 2019 The New York Times Company....,[{'web_url': 'https://www.nytimes.com/2019/01/...
meta,Copyright (c) 2019 The New York Times Company....,{'hits': 6977}

In [33]:
with open('nytdata.json', 'r') as f:
    data = json.load(f)

In [34]:
data = data['response']

In [41]:
df = pd.DataFrame(data['docs'])

In [43]:
df['headline'] = df['headline'].apply(lambda x: x['main'])

In [46]:
df = df[['pub_date','headline']]

In [47]:
df

,pub_date,headline
0,2019-01-03T00:10:00+0000,"Daryl Dragon, of the Captain and Tennille Pop ..."
1,2019-01-02T22:17:38+0000,Where Doulas Calm Nerves and Bridge Cultures D...
2,2019-01-02T17:00:47+0000,Voting Issues and Gerrymanders Are Now Key Pol...
3,2019-01-02T18:26:54+0000,Protecting Pregnant Workers
4,2019-01-02T18:32:59+0000,When Louis C.K. Crossed a Line
...,...,...
6972,2019-01-31T20:38:27+0000,Investors in Former Trump-Branded Hotel in Bra...
6973,2019-01-31T22:00:03+0000,4 Film Series to Catch in N.Y.C. This Weekend
6974,2019-02-01T06:00:03+0000,What’s on TV Friday: ‘The Lego Movie’ and ‘Vel...
6975,2019-02-01T08:00:00+0000,Holiday Recipes
6976,2019-01-31T10:00:01+0000,How to Win an Argument