In [3]:
import pandas as pd
import glob

In [2]:
data_dir = 'data/nyt/'

In [4]:
all_files = glob.glob(data_dir + "/*.csv")

In [6]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [10]:
df = frame[['pub_date','headline']]

In [11]:
df

,pub_date,headline
0,2016-10-01T04:00:00+0000,Donald Trump’s Letter
1,2016-10-01T21:12:35+0000,A Rabbi’s Enduring Sermon on Living Your Last ...
2,2016-10-01T04:00:00+0000,Nina Ricci: Spring 2017
3,2016-10-01T04:00:00+0000,How to Get Nina Ricci’s Sultry Slicked-Back Hair
4,2016-10-01T19:53:16+0000,"For Orchestras in the U.S., So Much Depends on..."
...,...,...
386336,2019-04-29T15:00:06+0000,How to Fight India’s Fake-News Epidemic
386337,2019-04-30T09:00:08+0000,"Oliver Sacks’s Final, Posthumous Work"
386338,2019-05-01T00:15:33+0000,It’s Infrastructure Week!
386339,2019-04-30T23:28:13+0000,Venezuelan Opposition Leader Steps Up Pressure...
386340,2019-04-30T09:00:11+0000,How Does Your Love of Wine Contribute to Clima...

In [12]:
df = df.rename(columns={'pub_date':'Date'})

In [21]:
df['Date'] = pd.to_datetime(df['Date']).dt.normalize()

In [24]:
df = df.sort_values(by='Date')

In [26]:
df.to_csv('NYT_ALL.csv')