In [1]:
import pandas as pd

In [2]:
data_VIX = pd.read_csv('VIX.csv', parse_dates=['Date'])

In [4]:
def posOrNeg(val):
    if val>0:
        return 1
    elif val<0:
        return -1
    else:
        return 0

In [5]:
data_VIX['Lag 2 Price'] = data_VIX['Price'].shift(-2)
data_VIX['2 Day Change'] = (data_VIX['Lag 2 Price'] - data_VIX['Price'])/data_VIX['Price']
data_VIX['2 Day Direction'] = data_VIX['2 Day Change'].apply(posOrNeg)

In [6]:
data_VIX

           Date  Price    Change  Lag 2 Price  2 Day Change  2 Day Direction
0    2000-01-03  24.36       NaN        27.98      0.148604                1
1    2000-01-04  24.94  0.023810        26.68      0.069767                1
2    2000-01-05  27.98  0.121893        25.14     -0.101501               -1
3    2000-01-06  26.68 -0.046462        21.89     -0.179535               -1
4    2000-01-07  25.14 -0.057721        21.98     -0.125696               -1
...         ...    ...       ...          ...           ...              ...
5005 2019-11-22  12.82 -0.039700        11.88     -0.073323               -1
5006 2019-11-25  12.51 -0.024181        11.55     -0.076739               -1
5007 2019-11-26  11.88 -0.050360        12.50      0.052189                1
5008 2019-11-27  11.55 -0.027778          NaN           NaN                0
5009 2019-11-29  12.50  0.082251          NaN           NaN                0

[5010 rows x 6 columns]

In [8]:
data_VIX.to_csv('VIX_Proc.csv', index=False)